@media (min-width: 500px) {
  .centerIcon {
    display: block;
    width: 400px;
    height: auto;
    margin-left: 5%;
    margin: 1.5rem auto;
  }
}

@media (max-width: 500px) {
  .centerIcon {
    display: block;
    width: 80%;
    height: auto;
    margin-left: 5%;
    margin: 1.5rem auto;
  }
}

.searchContainer {
  display: flex;
  justify-content: center;
}

